.games {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}
.games .games-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
.games .games-container .games-left {
  min-width: 628px;
  max-width: 630px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* Define the gradient for the border */
}
.games .games-container .games-left span {
  font-size: 16px;
  color: green;
  margin: 20px 0px 20px 0px;
}
.games .games-container .games-left h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins";
  color: white;
  text-align: left;
}
.games .games-container .games-left p {
  font-size: 18px;
  color: white;
  font-family: "Poppins";
  margin-top: 20px;
  text-align: left;
}
.games .games-container .games-left .playnow {
  display: inline-block;
  padding: 10px 35px;
  font-size: 16px;
  color: #fff; /* Text color */
  background-color: #000; /* playnow background color */
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  font-family: "Poppins";
  margin: 20px 0px 0px 0px;
}
.games .games-container .games-left .playnow::before {
  content: ""; /* Required for pseudo-element */
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(to bottom right, #12DF00, #FFF500);
  border-radius: 8px;
}
.games .games-container .games-left .playnow:hover::before {
  background: linear-gradient(to bottom right, #FFF500, #12DF00);
}
.games .games-container .games-right {
  width: 63%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px 10px;
  gap: 20px;
}
.games .games-container .games-right img {
  width: 47%;
  border: 1px solid white;
  border-radius: 8px;
}

@media only screen and (max-width: 1550px) {
  .games-container {
    margin: 0 auto;
  }
  .games-container .games-left {
    min-width: 555px !important;
    max-width: 560px !important;
  }
  .games-container .games-left h2 {
    font-size: 24px !important;
  }
  .games-container .games-left p {
    font-size: 18px !important;
    margin-top: 20px;
  }
  .games-container .games-left button {
    font-size: 14px;
  }
  .games-container .games-left button:hover {
    background-color: green;
    color: black;
  }
}
@media only screen and (max-width: 1350px) {
  .games-container {
    margin: 0 auto;
  }
  .games-container .games-left {
    min-width: 356px !important;
    max-width: 388px !important;
  }
  .games-container .games-left h2 {
    font-size: 20px !important;
  }
  .games-container .games-left p {
    font-size: 14px !important;
    margin-top: 20px;
  }
  .games-container .games-left button {
    font-size: 12px;
  }
  .games-container .games-left button:hover {
    background-color: green;
    color: black;
  }
}
@media only screen and (max-width: 1186px) {
  .games-container {
    margin: 0 auto;
  }
  .games-container .games-left {
    min-width: 330px !important;
    max-width: 335px !important;
  }
  .games-container .games-left h2 {
    font-size: 17px !important;
  }
  .games-container .games-left p {
    font-size: 11px !important;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 980px) {
  .games-container {
    margin: 0 auto;
    flex-direction: column !important;
  }
  .games-container .games-left {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .games-container .games-left h2 {
    text-align: center;
    font-size: 16px !important;
  }
  .games-container .games-left p {
    font-size: 11px !important;
    text-align: center !important;
    max-width: 400px;
    margin-top: 20px;
  }
  .games-container .games-right {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .games-container .games-right img {
    width: 100%;
  }
}
@media only screen and (max-width: 786px) {
  .games-container {
    margin: 0 auto;
    flex-direction: column !important;
  }
  .games-container .games-left {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .games-container .games-left h2 {
    text-align: center !important;
    font-size: 16px !important;
  }
  .games-container .games-left p {
    font-size: 11px !important;
    text-align: center !important;
    max-width: 400px;
    margin-top: 20px;
  }
  .games-container .games-right {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
  }
  .games-container .games-right img {
    width: 100% !important;
  }
}/*# sourceMappingURL=game.css.map */