.headers {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 111;
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    figure {
      cursor: pointer;
      margin: 0;
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 1rem;
          font-family: "Poppins";
          a {
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
          }
        }
        & li:hover {
          border-bottom: 1px solid #fff;
          transition: border-bottom 2s ease;
        }
      }
    }
    margin: 0 auto;
    nav {
      .arcade {
        display: inline-block;
        padding: 5px 15px;
        font-size: 16px;
        color: #fff; /* Text color */
        background-color: #000; /* arcade background color */
        border: none;
        cursor: pointer;
        position: relative;
        font-family: 'Poppins';
      }
      
      /* Define the gradient for the border */
      .arcade::before {
        content: ''; /* Required for pseudo-element */
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        
        z-index: -1;
        background: linear-gradient(to bottom right, #78ab46, #f7df63);
        border-radius: 3px;
      }
      .arcade:hover::before {
        background: linear-gradient(to bottom right, #f7df63, #78ab46);
      }
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 1rem;
          font-family: "Poppins";
          a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
          }
        }
        & li:hover {
          border-bottom: 1px solid #fff;
          transition: border-bottom 2s ease;
        }
      }
    }
  }
  .nav-header{
    display: none;
  }
}
@media only screen and (max-width: 1286px) {
    .headers {
        // background-color: #110e0f;
        position: fixed;
        width: 100%;
        z-index: 111;
        .header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 10px 40px;
      
          max-width: 1920px;
          figure {
            cursor: pointer;
            margin: 0;
            display: flex;
            align-items: center;
            img {
              width: 50px;
              height: 50px;
            }
            ul {
              display: flex;
              list-style: none;
              li {
                margin: 0 1rem;
                font-family: "Poppins";
                a {
                  text-decoration: none;
                  color: #fff;
                  font-size: 15px;
                }
              }
              & li:hover {
                border-bottom: 1px solid #fff;
                transition: border-bottom 2s ease;
              }
            }
          }
          margin: 0 auto;
          nav {
            ul {
              display: flex;
              list-style: none;
              li {
                margin: 0 1rem;
                font-family: "Poppins";
                a {
                  text-decoration: none;
                  color: #fff;
                  font-size: 20px;
                }
              }
              & li:hover {
                border-bottom: 1px solid #fff;
                transition: border-bottom 2s ease;
              }
            }
          }
        }
      }

}
@media only screen and (max-width: 1186px) {
    .headers {
        // background-color: #110e0f;
        position: fixed;
        width: 100%;
        z-index: 111;
        .header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 10px 40px;
      
          max-width: 1920px;
          figure {
            cursor: pointer;
            margin: 0;
            display: flex;
            align-items: center;
            img {
              width: 50px;
              height: 50px;
            }
            ul {
              display: flex;
              list-style: none;
              li {
                margin: 0 1rem;
                font-family: "Poppins";
                a {
                  text-decoration: none;
                  color: #fff;
                  font-size: 14px;
                }
              }
              & li:hover {
                border-bottom: 1px solid #fff;
                transition: border-bottom 2s ease;
              }
            }
          }
          margin: 0 auto;
          nav {
            ul {
              display: flex;
              list-style: none;
              li {
                margin: 0 1rem;
                font-family: "Poppins";
                a {
                  text-decoration: none;
                  color: #fff;
                  font-size: 20px;
                }
              }
              & li:hover {
                border-bottom: 1px solid #fff;
                transition: border-bottom 2s ease;
              }
            }
          }
        }
      }

}


@media only screen and (max-width: 786px) {
  .headers {
      // background-color: #110e0f;
      position: fixed;
      width: 100%;
      z-index: 111;
      .nav-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    
        max-width: 1920px;
        figure {
          cursor: pointer;
          margin: 0;
          display: flex;
          align-items: center;
          img {
            width: 50px;
            height: 50px;
          }
          ul {
            display: flex;
            list-style: none;
            li {
              margin: 0 1rem;
              font-family: "Poppins";
              a {
                text-decoration: none;
                color: #fff;
                font-size: 14px;
              }
            }
            & li:hover {
              border-bottom: 1px solid #fff;
              transition: border-bottom 2s ease;
            }
          }
        }
        margin: 0 auto;
        nav {
          ul {
            display: flex;
            list-style: none;
            li {
              margin: 0 1rem;
              font-family: "Poppins";
              a {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
              }
            }
            & li:hover {
              border-bottom: 1px solid #fff;
              transition: border-bottom 2s ease;
            }
          }
        }
      }
      .header{
        display: none;
      }
    }

}
.navrpe{
  color: black;
  width: 100% !important;
  li{
    color: #000 !important;
    text-align: center;
    font-size: 24px;
    a{
      color: #000 !important;
    }
  }
}
.navrped{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
  li{
    color: #000 !important;
    text-align: center;
    font-size: 24px;
    a{
      color: #000 !important;
    }
  }
}
.ertyuytr{
  width: 100%;
  display: flex;
  font-size: 32px;
  color: #000;
  justify-content: flex-end;
  padding: 20px 40px;
}

.arcade {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  color: #fff; /* Text color */
  background-color: #000; /* arcade background color */
  border: none;
  cursor: pointer;
  position: relative;
  font-family: 'Poppins';
}

/* Define the gradient for the border */
.arcade::before {
  content: ''; /* Required for pseudo-element */
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  
  z-index: -1;
  background: linear-gradient(to bottom right, #78ab46, #f7df63);
  border-radius: 3px;
}
.arcade:hover::before {
  background: linear-gradient(to bottom right, #f7df63, #78ab46);
}