.tokenomics {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
.tokenomics .spaef {
  position: absolute;
  z-index: -1;
  top: -100px;
  width: 150px;
}
.tokenomics .spaef img {
  width: 100%;
}
.tokenomics .tokenomics-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tokenomics .tokenomics-container .card-item {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tokenomics .tokenomics-container .card-item h2 {
  font-size: 38px;
  color: white;
}
.tokenomics .tokenomics-container .card-item .suo {
  max-width: 50%;
  text-align: center;
}
.tokenomics .tokenomics-container .card-item .items {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.tokenomics .tokenomics-container .card-item .items .item-right {
  display: flex;
  width: 35%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.tokenomics .tokenomics-container .card-item .items .item-left {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.tokenomics .tokenomics-container .card-item .items .item-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nomics-card {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-radius: 12px;
  max-width: 400px;
  gap: 10px;
  align-items: center;
}
.nomics-card .nomics-card-left {
  height: 20px;
  width: 20px;
  display: flex;
}
.nomics-card .nomics-card-right {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.nomics-card .nomics-card-right h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
  color: white;
}
.nomics-card .nomics-card-right p {
  font-size: 14px;
  font-family: "Poppins";
  color: white;
  text-align: left !important;
  width: 100%;
}

.imageStyle {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1186px) {
  .items {
    margin-top: 0px !important;
    justify-content: center !important;
  }
  .items .item-right {
    width: 50% !important;
  }
}
@media only screen and (max-width: 806px) {
  .items {
    margin-top: 50px;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .items .item-left {
    margin: 0 auto !important;
    width: 80% !important;
  }
  .items .item-right {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .nomics-card {
    display: flex;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    max-width: 400px;
    gap: 10px;
    align-items: center;
  }
  .nomics-card .nomics-card-left {
    height: 20px;
    width: 20px;
    display: flex;
  }
  .nomics-card .nomics-card-right {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .nomics-card .nomics-card-right h3 {
    font-size: 16px !important;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
  }
  .nomics-card .nomics-card-right p {
    font-size: 14px;
    font-family: "Poppins";
    color: white;
    text-align: left !important;
    width: 100%;
  }
}/*# sourceMappingURL=Tokenomics.css.map */