@media only screen and (max-width: 1550px) {
  h2 {
    font-size: 26px !important;
   display: contents;
  }
  p {
    font-size: 14px !important;
    margin-top: 20px;
    display: block;

  }
}

@media only screen and (max-width: 1250px) {
  h2 {
    font-size:20px !important;
  }
  p {
    font-size: 15px !important;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1186px) {
  h2 {
    font-size: 24px !important;
  }
  p {
    font-size: 13px !important;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 930px) {
  h2 {
    font-size: 20px !important;
  }
  p {
    font-size: 12px !important;
    margin-top: 20px;
  }
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}