.banner{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    .banner-container{
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        padding: 150px 0px;
        align-items: center;
        .banner-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 42px;
                font-weight: 700;
                font-family: 'Poppins';
                min-width: 70%;
                color: white;
                width: -webkit-fill-available;
                text-align: center;
            }
            
            p{
                font-size: 18px;
                color: white;
                width: 75%;

                font-family: 'Poppins';
                margin-top: 10px;
                text-align: center;
            }
            .cards-container{
                display: flex;
                gap:20px;
                p{
                    margin: 0;
                }
                margin-top: 40px;
                .banner-card {
                    display: inline-block;
                    width: 250px;
                    padding: 20px 15px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    font-size: 16px;
                    border-radius: 8px;
                    color: #fff; /* Text color */
                    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(50,52,52,1) 100%);
 /* banner-card background color */
                    border: none;
                    cursor: pointer;
                    position: relative;
                    font-family: 'Poppins';
                    h3{
                        font-size: 28px;
                        color: white;
           
                        
                    }
                  }
                  
                  /* Define the gradient for the border */
                  .banner-card::before {
                    content: ''; /* Required for pseudo-element */
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;   
                    z-index: -2;
                    background: linear-gradient(to bottom right, #12DF00 , #FFF500);
                    border-radius: 8px;
                  }
                  .banner-card:hover::before {
                    background: linear-gradient(to bottom right, #FFF500, #12DF00 );
                  }
            }
            h4{
                font-size: 20px;
                color: white;
                margin-top: 30px;
            }
        }
      
    }
}

@media only screen and (max-width: 1550px) {

    .banner-container{
        margin: 0 auto;
        padding: 130px 0px  80px 0px !important;
        .banner-left{
            width: 60%;
            h2{
                font-size: 32px!important;
            }
            p{
                font-size: 18px !important;
                margin-top: 20px;

            }
        }
    }
}

@media only screen and (max-width: 1250px) {
  
    .banner-container{
        margin: 0 auto;
        padding: 100px 0px 50px !important;
        .banner-left{
            width: 60%;
            h2{
                font-size: 28px!important;
            }
            p{
                font-size: 15px !important;
                margin-top: 20px;

            }
        }
    }
}
@media only screen and (max-width: 1186px) {

    .banner-container{
        margin: 0 auto;
        .banner-left{
            width: 60%;
            h2{
                font-size: 24px!important;
            }
            p{
                font-size: 13px !important;
                margin-top: 20px;

            }
        }
    }
}
@media only screen and (max-width: 930px) {

    .banner-container{
        margin: 0 auto;
        .banner-left{
            width: 60%;
            .cards-container{
                display: flex;
                gap:20px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                p{
                    margin: 0;
                }
                margin-top: 40px;
                .banner-card {
                    display: inline-block;
                    width: 250px;
                    padding: 20px 15px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    font-size: 16px;
                    border-radius: 8px;
                    color: #fff; /* Text color */
                    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(50,52,52,1) 100%);
 /* banner-card background color */
                    border: none;
                    cursor: pointer;
                    position: relative;
                    font-family: 'Poppins';
                    h3{
                        font-size: 28px;
                        color: white;
           
                        
                    }
                  }
                  
                  /* Define the gradient for the border */
                  .banner-card::before {
                    content: ''; /* Required for pseudo-element */
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;   
                    z-index: -2;
                    background: linear-gradient(to bottom right, #12DF00 , #FFF500);
                    border-radius: 8px;
                  }
                  .banner-card:hover::before {
                    background: linear-gradient(to bottom right, #FFF500, #12DF00 );
                  }
            }
            h2{
                font-size: 20px!important;
                display: flex;
                justify-content: center;
                align-items: center;

            }
            p{
                font-size: 12px !important;
                width: 100%!important;
                margin-top: 20px;

            }
        }
    }
}
@media only screen and (max-width: 786px) {

    .banner-container{
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
        .banner-left{
            width: 80% !important;
            h2{
                font-size: 20px!important;
                width: 100%;
            }
            p{
                font-size: 12px !important;
                width: 100%;
                margin-top: 20px;

            }
        }
        .banner-right{
            width: 100% !important;
            img{
                width: 100%;
                height: 100%;
            }

        }
    }
}